.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
}

.title {
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spanText {
  color: rgba(76, 76, 255, 1);
}

.link {
  text-decoration: none;
}

.errorMessage {
  color: red;
  align-self: flex-start;
}
