.link {
  text-decoration: none;
  color: unset;
}

.navBar {
  width: 320px;
}

.title {
  height: 48px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.title:hover {
  color: rgba(242, 242, 243, 1);
}