.container {
  width: 1240px;
  margin: 0 auto;
}

.itemsContainer {
  width: 100%;
  display: flex;
  column-gap: 60px;
}

.orders {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 70vh;
}

.orderCard {
  width: 536px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  background-color: rgba(28, 28, 33, 1);
  border: solid 2px unset;
  border-radius: 40px;
}

.orderData {
  display: flex;
  justify-content: space-between;
}

.ingredients {
  display: flex;
}

.ingredientIcon {
  width: 64px;
  height: 64px;
  background-color: rgba(28, 28, 33, 1);
  border: solid 2px rgba(76, 76, 255, 1);
  border-radius: 100px;
  position: relative;
}

.price {
  width: 84px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.stats {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.ordersBoard {
  display: flex;
  column-gap: 36px;
}

.ordersBoardSection {
  width: 268px;
}

.doneOrders {
  color: rgba(0, 204, 204, 1);
}

.ordersCompleted {
  text-shadow: 0 4px 32px rgba(51, 51, 255, 0.5);
}

.links {
  text-decoration: none;
  color: unset;
}
