body {
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  z-index: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  scrollbar-color: rgba(133, 133, 173, 1) rgba(47, 47, 55, 1);
  scrollbar-width: 8px;
}

.link {
  text-decoration: none;
  color: unset;
}
