.orderCard {
  width: 536px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  background-color: rgba(28, 28, 33, 1);
  border: solid 2px unset;
  border-radius: 40px;
}

.links {
  text-decoration: none;
  color: unset;
}

.orderData {
  display: flex;
  justify-content: space-between;
}

.ingredients {
  display: flex;
}

.ingredientIcon {
  width: 64px;
  height: 64px;
  background-color: rgba(28, 28, 33, 1);
  border: solid 2px rgba(76, 76, 255, 1);
  border-radius: 100px;
  position: relative;
}

.price {
  width: 84px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
