.header {
  width: 100%;
  background-color: rgba(28, 28, 33, 1);
}

.headerContainer {
  width: 1280px;
  height: 88px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.navBar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.links {
  text-decoration: none;
  color: unset;
}
